<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Too high</title>
    <link rel="stylesheet" href="static/css/main.css">
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<h1 style="text-align:center;">Only numbers allowed!<h1>
    <img src='https://media2.giphy.com/media/o8elHkOZR56g0/giphy.gif' style="width:50%;"/>
    <div style="text-align:center">
        <form method="POST">
    <input type="text" name="guess"
               placeholder="Guess the number"
               </input>
    <br>
    <button type="submit">Submit</button>
    </form>
    </div>
</body>
<section id="footer">
    <div class="inner"></div>

This is a footer placeholder and the current date is {{ current_year }}.
    </section>
</div>
</html>